* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --darkblack: #121212;
  /* mavs ambient color  */
  --inner: #af0000;
  /* --middle: #d20000; */
  --outer: #e50000;
}

.mavs-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--darkblack);
}

.mavs-wrapper {
  width: 30rem;
  height: 22.6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mavs-body {
  width: 30rem;
  position: fixed;
}

.mavs-body img {
  width: 100%;
}

/* MAVS EYE  */
.mavs-eye {
  position: relative;
  display: block;
  width: 4rem;
  left: 12.5rem;
  top: 0rem;
}

.eye-glow {
  position: relative;
  left: 15rem;
  top: -1rem;
  width: 20px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 12px 10px 30px 5px var(--outer);
}

.mavs-eye-pupil {
  fill: black;
  transform: translateY(-7px);
}

.st0 {
  fill: url(#SVGID_1_);
}

/* THRUSTER  */
.mavs-thruster {
  position: fixed;
  display: block;
  width: 8rem;
  left: 14.7rem;
  bottom: 0rem;

  opacity: 0.8;
}

.Tst1 {
  opacity: 0.15;
}
.st2 {
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

/* MAVS shadow  */
.mavs-ambient-shadow {
  position: fixed;
  bottom: -8rem;
  left: 14rem;

  width: 8rem;
  height: 1rem;
  /* border: 3px solid black; */
  background-color: var(--inner);
  border-radius: 50%;
  opacity: 0.5;
  z-index: 1200;
  filter: blur(6px);

  box-shadow: 0px 0px 10px 5px var(--outer);
}

/* color buttons buttons  */
.colourPrompts {
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  background: #101010;
  margin: 2rem;
  box-shadow: 0px 0px 10px 1px black;
}

.btnColour {
  border-radius: 0.3rem;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.3s ease;
}
.btnColour:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.btnColour p {
  display: flex;
}

.green {
  background: green;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
